@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --border-line: #ECECEC;
  --border-line-small:#EEEEEE;
  --logo-black-color: #000;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --primary-button-color: #F5F4FA;
  --button-color: #188CE8;
  --background-footer: #2F303A;
  --background-color-icon: #F5F4FA;
  --background-color-icon-social-links: #AFB1B8;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --background-color-footer-socicon: rgba(255, 255, 255, 0.1);
  --box-shadow-portfolio: rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --modal-background-color: rgba(0, 0, 0, 0.2);
  --modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --backdrop-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --button-primary-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --button-secondary-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --close-btn-color: rgba(0, 0, 0, 0.1);
  --close-btn-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --projects-overlay-background-color: rgba(33, 150, 243, 0.9);
  --work-background-color: rgba(47, 48, 58, 0.8);
  --email-input-border-color:rgba(255, 255, 255, 0.3);
  --email-input-color: rgba(255, 255, 255, 1);
  --form-input-border-color:rgba(33, 33, 33, 0.2);
}

/*------   Модальное окно  --------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: var(--modal-background-color);
  -webkit-box-shadow: var(--backdrop-box-shadow);
          box-shadow: var(--backdrop-box-shadow);
  -webkit-transition: opacity 250ms var(--time-function), visibility 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  transition: opacity 250ms var(--time-function), visibility 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  transition: opacity 250ms var(--time-function), transform 250ms var(--time-function), visibility 250ms var(--time-function);
  transition: opacity 250ms var(--time-function), transform 250ms var(--time-function), visibility 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: var(--primary-white-color);
  -webkit-box-shadow: var(--modal-box-shadow);
          box-shadow: var(--modal-box-shadow);
  border-radius: 4px;
  background-color: var(--primary-white-color);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 8px 0 0;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--close-btn-color);
  background-color: var(--primary-white-color);
  cursor: pointer;
  -webkit-transition: fill 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  transition: fill 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), fill 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), fill 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  fill: var(--logo-black-color);
}
.close-btn:hover, .close-btn:focus {
  -webkit-box-shadow: var(--close-btn-box-shadow);
          box-shadow: var(--close-btn-box-shadow);
  fill: var(--accent-color);
}

/*-------------------------------------------*/
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

/*
.form-modal {
    padding-left: 40px;
    padding-right: 40px;
}*/
.form-filed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.input-wrap {
  position: relative;
}
.input-wrap:hover, .input-wrap:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 40px;
  border: 1px solid var(--form-input-border-color);
  border-radius: 4px;
  -webkit-transition: fill 250ms var(--time-function), border-color 250ms var(--time-function);
  transition: fill 250ms var(--time-function), border-color 250ms var(--time-function);
}
.form-input:hover, .form-input:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/*
.form-input:hover + .form-icon,
.form-input:focus + .form-icon{
    fill: var(--accent-color);
    border-color: var(--accent-color);
}*/
.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}

/*
.form-icon:hover,
.form-icon:focus {
    fill: var(--accent-color);
}*/
.form-area {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 138px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--time-function);
  transition: border 250ms var(--time-function);
}
.form-area::-webkit-input-placeholder {
  -webkit-transition: font-size 250ms var(--time-function);
  transition: font-size 250ms var(--time-function);
  color: rgba(117, 117, 117, 0.5);
}
.form-area::-moz-placeholder {
  -moz-transition: font-size 250ms var(--time-function);
  transition: font-size 250ms var(--time-function);
  color: rgba(117, 117, 117, 0.5);
}
.form-area:-ms-input-placeholder {
  -ms-transition: font-size 250ms var(--time-function);
  transition: font-size 250ms var(--time-function);
  color: rgba(117, 117, 117, 0.5);
}
.form-area::-ms-input-placeholder {
  -ms-transition: font-size 250ms var(--time-function);
  transition: font-size 250ms var(--time-function);
  color: rgba(117, 117, 117, 0.5);
}
.form-area::placeholder {
  -webkit-transition: font-size 250ms var(--time-function);
  transition: font-size 250ms var(--time-function);
  color: rgba(117, 117, 117, 0.5);
}
.form-area:hover::-webkit-input-placeholder, .form-area:focus::-webkit-input-placeholder {
  font-size: 14px;
}
.form-area:hover::-moz-placeholder, .form-area:focus::-moz-placeholder {
  font-size: 14px;
}
.form-area:hover:-ms-input-placeholder, .form-area:focus:-ms-input-placeholder {
  font-size: 14px;
}
.form-area:hover::-ms-input-placeholder, .form-area:focus::-ms-input-placeholder {
  font-size: 14px;
}
.form-area:hover::placeholder, .form-area:focus::placeholder {
  font-size: 14px;
}

.form-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.check-filed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.check-icon {
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  fill: transparent;
}

.check-text {
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.check-input:checked + .check-label .check-icon {
  background-color: var(--accent-color);
  fill: #FFFFFF;
  border: none;
}

.check-link {
  margin-left: 3px;
  font-size: 14px;
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.check-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--button-color);
  border-radius: 4px;
  border: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--time-function);
  transition: -webkit-box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  cursor: pointer;
}
.check-button:hover, .check-button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-header {
  border-bottom: 1px solid;
  border-bottom-color: var(--border-line);
}

.container .main-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  /*margin-right: 331px;*/
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
  color: var(--accent-color);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px 0 25px 0;
  margin-right: 93px;
}

.logo-studio {
  color: var(--logo-black-color);
}

/*--Footer--*/
.footer {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo_footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}

.logo_studio {
  color: var(--primary-white-color);
}

/*--Address--*/
.address {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-white-color);
  margin-top: 20px;
}

.address-link {
  text-decoration: none;
  color: var(--address-text-color);
}

.address_nav .address_item + .address_item {
  margin-top: 9px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.coordinates {
  display: block;
  margin-right: 70px;
}

/*
.social-footer {
    margin-right: 93px;
}*/
.social-footer .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.soclinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
}

.soclinks .soc-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.soclinks .soc-item + .soc-item {
  margin-left: 10px;
}

.socicon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-white-color);
  background-color: var(--background-color-footer-socicon);
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.socicon:hover, .socicon:focus {
  background-color: var(--accent-color);
}

/*------ email-input --- button----*/
.subscribe-footer {
  margin-left: 93px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-input {
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  height: 50px;
  padding-left: 15px;
  margin-right: 12px;
  color: var(--address-text-color);
  border: 1px solid var(--email-input-border-color);
  background-color: var(--background-footer);
  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));*/
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--time-function);
  transition: border-color 250ms var(--time-function);
}
.email-input:hover, .email-input:focus {
  border-color: var(--accent-color);
}

.subscribe_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), background-color 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), background-color 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  cursor: pointer;
}

.subscribe_icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0 94px 0;
}

/* -----------------visually-hidden------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav .current {
  position: relative;
  color: var(--accent-color);
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link .current {
  color: var(--accent-color);
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auth-nav .icon {
  margin-right: 10px;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.icon {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  -webkit-transition: fill var(--primary-text-color), color 250ms var(--time-function);
  transition: fill var(--primary-text-color), color 250ms var(--time-function);
}
.icon-link:hover, .icon-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/baner.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/baner.jpg");
  background-color: var(--background-footer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  /*margin-bottom: 30px;*/
  margin: 0 auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.section-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-list .item {
  width: 270px;
}

.feature-icon-wrap {
  background-color: var(--background-color-icon);
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.feature-list .text {
  line-height: 1.71;
}

.work {
  padding-top: 0;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work-list .item + .item {
  margin-left: 30px;
}
.work-list .item {
  position: relative;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.work-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--work-background-color);
}

.work-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  background-color: var(--primary-button-color);
}

.team .item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list .item {
  /*padding: 30px;*/
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-color: var(--logo-black-color);
  background-color: var(--primary-white-color);
  text-align: center;
}
.team-list .item + .item {
  margin-left: 30px;
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--title-text-color);
}

.team-list .text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
}

.social-links .soc-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-links .soc-item + .soc-item {
  margin-left: 10px;
}

.soc-icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--background-color-icon-social-links);
  -webkit-transition: background-color 250ms var(--time-function), color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function);
}
.soc-icon:hover, .soc-icon:focus {
  background-color: var(--accent-color);
  color: var(--background-color-icon);
}

.icon-soc {
  fill: currentColor;
}

.icon:hover {
  color: var(--accent-color);
}

.link-icon {
  padding: 0;
  margin: 0;
  fill: currentColor;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
}
.client-list .item + .item {
  margin-left: 30px;
}

.icon-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid;
  border-color: var(--background-color-icon-social-links);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  fill: var(--background-color-icon-social-links);
  -webkit-transition: fill 250ms var(--time-function), border-color 250ms var(--time-function);
  transition: fill 250ms var(--time-function), border-color 250ms var(--time-function);
}
.icon-client:hover, .icon-client:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
}

.button.primary {
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  -webkit-box-shadow: var(--button-primary-box-shadow);
          box-shadow: var(--button-primary-box-shadow);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  margin-top: 30px;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.button.primary:hover, .button.primary:focus {
  background-color: var(--button-color);
}

.button.secondary {
  height: 38px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--primary-button-color);
  -webkit-transition: background-color 250ms var(--time-function), color 250ms var(--time-function), -webkit-box-shadow var(--button-secondary-box-shadow);
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function), -webkit-box-shadow var(--button-secondary-box-shadow);
  transition: background-color 250ms var(--time-function), box-shadow var(--button-secondary-box-shadow), color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), box-shadow var(--button-secondary-box-shadow), color 250ms var(--time-function), -webkit-box-shadow var(--button-secondary-box-shadow);
}
.button.secondary:hover, .button.secondary:focus {
  color: var(--primary-button-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: var(--button-secondary-box-shadow);
          box-shadow: var(--button-secondary-box-shadow);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters .item + .item {
  margin-left: 8px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.projects-title {
  margin-bottom: 4px;
}

.projects .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
  -webkit-transition: -webkit-box-shadow 250ms var(--time-function);
  transition: -webkit-box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
}
.projects .item:hover, .projects .item:focus {
  -webkit-box-shadow: 0px 1px 1px var(--box-shadow-portfolio);
          box-shadow: 0px 1px 1px var(--box-shadow-portfolio);
}
.projects .item:nth-child(3n) {
  margin-right: 0;
}
.projects .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.projects .link {
  text-decoration: none;
}

.link .projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.link .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.border {
  padding: 20px 24px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: var(--border-line-small);
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 63px 24px;
  background-color: var(--projects-overlay-background-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--time-function);
  transition: -webkit-transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
}
.pro-item :hover .projects-overlay {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}/*# sourceMappingURL=main.css.map */