:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --white-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.6);
  --background-soc-icon: #afb1b8;
  --box-shadow--accent: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow--accent);
  transition: opacity 250ms var(--time-function), transform 250ms var(--time-function), visibility 250ms var(--time-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 450px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin: 8px 8px 0 0;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
  cursor: pointer;
  transition: box-shadow 250ms var(--time-function);
}
.modal__close-btn:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__title {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__filed {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__wrap {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--time-function);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translatey(-50%);
  transition: fill 250ms var(--time-function);
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__area {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 138px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--time-function);
}
.modal__area:hover, .modal__area:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal__area::placeholder {
  transition: font-size 250ms var(--time-function);
  color: rgba(117, 117, 117, 0.5);
}
.modal__area:hover::placeholder, .modal__area:focus::placeholder {
  font-size: 14px;
}

.modal__comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}

.modal__check-filed {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal__check-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  fill: transparent;
}
.modal__check-input:checked + .modal__check-label .modal__check-icon {
  background-color: var(--accent-color);
  fill: #ffffff;
  border: none;
}

.modal__check-text {
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__check-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal__check-link {
  margin-left: 3px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .modal__check-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal__check-button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--second-accent-color);
  border-radius: 4px;
  border: none;
  transition: box-shadow 250ms var(--time-function);
  cursor: pointer;
}
.modal__check-button:hover, .modal__check-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.link {
  text-decoration: none;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  height: 60px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.nav {
  display: flex;
}

.nav__page-logo {
  padding: 16px 0;
}
.nav__page-logo:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__page-logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.nav__logo-active {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .nav__logo-active {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.nav__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.menu_button {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.menu_button:hover, .menu_button:focus {
  fill: var(--accent-color);
  transition: fill 250ms var(--time-function);
}
.menu_button.is-open {
  z-index: 10;
}
.menu_button .icon_cross {
  display: none;
}
.menu_button.is-open .icon_menu {
  display: none;
}
.menu_button.is-open .icon_cross {
  display: block;
}
@media screen and (min-width: 768px) {
  .menu_button {
    display: none;
  }
}

.menu_header {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .menu_header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    z-index: 1;
  }
  .menu_header.is-open {
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu_header {
    display: flex;
  }
}

.header__nav-list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    gap: 50px;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav-list {
    margin-left: 93px;
  }
}

.nav__link {
  color: var(--title-text-color);
  transition: color 250ms var(--time-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__link {
  color: var(--title-text-color);
  transition: color 250ms var(--time-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__current {
    position: relative;
  }
  .nav__current:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .auth__list {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .auth__list {
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
  }
}

.auth__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .auth__item {
    margin: 0;
  }
}

.auth__tel-icon {
  transition: color 250ms var(--time-function);
}
.auth__tel-icon:focus, .auth__tel-icon:hover {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .auth__tel-icon {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .auth__tel-icon {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
  }
}

.auth__mail-icon {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--time-function);
}
.auth__mail-icon:focus, .auth__mail-icon:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .auth__mail-icon {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
  }
}

.auth__icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .auth__icon {
    display: none;
  }
}

.mobile__list {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .mobile__list {
    display: none;
  }
}

.mobile__item + .mobile__item {
  position: relative;
  transition: color 250ms var(--time-function);
}
.mobile__item + .mobile__item::before {
  content: "";
  position: absolute;
  left: -10px;
  display: block;
  height: 100%;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile__item + .mobile__item:hover, .mobile__item + .mobile__item:focus {
  color: var(--accent-color);
}

.mobile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  padding: 118px 0;
  height: 400px;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-des.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-des-2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms var(--time-function);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--second-accent-color);
}

.benefits,
.works {
  background-color: var(--primary-background-color);
}

.benefits {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding: 94px 0;
  }
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.section-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.section-list__benefits-icon {
  display: flex;
  height: 120px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--third-background-color);
}

.section-list__svg-benefits {
  width: 70px;
  height: 70px;
}

.section-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media screen and (max-width: 767px) {
  .section-list__title {
    text-align: center;
  }
}

.section-list__text {
  line-height: 1.71;
}

.works {
  display: none;
}
@media screen and (min-width: 1200px) {
  .works {
    display: block;
    padding-top: 0;
  }
}

.activity__list {
  display: flex;
  gap: var(--indent);
}

.activity__item {
  position: relative;
}

.activity__box {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.team {
  background-color: var(--third-background-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.team__item {
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__imag {
  margin-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.soc__list {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .soc__list {
    margin-bottom: 30px;
  }
}

.soc__item {
  width: 44px;
  height: 44px;
}

.soc__link {
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  transition: background-color 250ms var(--time-function);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--accent-color);
}

.soc__icon {
  fill: var(--background-soc-icon);
  transition: fill 250ms var(--time-function);
}
.soc__link:hover .soc__icon, .soc__link:focus .soc__icon {
  fill: var(--primary-background-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--background-soc-icon);
  border-radius: 4px;
  transition: border 250ms var(--time-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: var(--background-soc-icon);
  transition: fill 250ms var(--time-function);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.group {
  padding: 60px 0;
  text-align: center;
  background-color: var(--second-background-color);
}

.footer__logo {
  color: var(--white-text-color);
}

.foot-nav__logo {
  padding-bottom: 0;
  margin-bottom: 20px;
  display: block;
}

.place {
  font-style: normal;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .place {
    margin: 0;
  }
}

.menu__item + .menu__item {
  margin-top: 9px;
}

.menu__link-direction {
  color: var(--footer-color);
  transition: color 250ms var(--time-function);
}
.menu__link-direction:hover, .menu__link-direction:focus {
  color: var(--accent-color);
}

.menu__link-direction,
.menu__home-link {
  line-height: 1.71;
}

.menu__home-link {
  color: var(--primary-background-color);
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

/* ====================FOOTER-JOIN============*/
.join {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .join {
    margin-bottom: 0;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.join__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.join__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.join__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--time-function);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}

.join__icon {
  fill: var(--primary-background-color);
}

/* ====================subscribe======================= */
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--second-background-color);
  transition: border-color 250ms var(--time-function);
}
.subscribe__input:hover, .subscribe__input:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__button {
  display: flex;
  align-items: flex-end;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 28px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  transition: box-shadow 250ms var(--time-function), background-color 250ms var(--time-function);
  cursor: pointer;
}
.subscribe__button:hover, .subscribe__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--second-accent-color);
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--white-text-color);
}

.filter__list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .filter__list {
    margin-bottom: 40px;
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter__list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__btn {
  display: flex;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--third-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ------------section-------------- */
.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms var(--time-function);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.portfolio__item {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__card {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--time-function);
}
.portfolio__item:hover .portfolio__overlay {
  transform: translate(0);
}
@media screen and (min-width: 768px) {
  .portfolio__overlay {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__overlay {
    padding: 63px 24px;
  }
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}/*# sourceMappingURL=main.css.map */