.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  @include tablet{
    width: calc((100% - 60px)/3);
  }
   @include desktop{
    width: calc((100% - 150px)/6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid var(--background-soc-icon);
  border-radius: 4px;

  transition: border 250ms var(--time-function);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: var(--background-soc-icon);

  transition: fill 250ms var(--time-function);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
