.section-title {
    margin-top: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
}
.feature-list {
    display: flex;
}
.feature-list .item {
    width: 270px;
}
.feature-icon-wrap {
    background-color: var(--background-color-icon);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.feature-list .item + .item {
    margin-left: 30px;
}
.feature-list .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}
.feature-list .text {
    line-height: 1.71;
}