

.feature-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    
}

.feature-list .item {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.feature-icon-wrap {
    background-color: var(--background-color-icon);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.feature-list .item + .item {
    @media screen and (max-width: 767px) {
        margin-top: 30px;
    }
    
}

.feature-list .title {
    @media screen and (max-width: 767px) {
        text-align: center;
    }

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}
.feature-list .text {
    line-height: 1.71;
}