.filter__list {
  display: flex;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    flex-wrap: wrap;
    row-gap: 15px;
  }
  @include tablet {
    margin-bottom: 30px;
    justify-content: center;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}
.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__btn {
  display: flex;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--third-background-color);

  font-family: inherit;
  @include font(500, 16px, 1.62);
  text-align: center;

  cursor: pointer;

  transition: background-color 250ms var(--time-function),
    color 250ms var(--time-function), box-shadow 250ms var(--time-function);
  &:hover,
  &:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

/* ------------section-------------- */

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms var(--time-function);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.portfolio__item {
  width: 450px;
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__card {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio__title {
  margin-bottom: 4px;

  @include font(700, 18px, 2, 0.06em);
  color: var(--title-text-color);
}
.portfolio__text {
  
  @include font(null, 16px, 1.88);
  color: var(--primary-text-color);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 77px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--time-function);
  .portfolio__item:hover & {
    transform: translate(0);
  }
  @include tablet {
    padding: 49px 24px 77px 24px;
  }
  @include desktop {
    padding: 63px 24px;
  }
}

.overlay__text {
  @include font(null, 18px, 1.56);
  color: var(--white-text-color);
}
