/*--Footer--*/
.footer {
    background-color: var(--background-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo_footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--accent-color);
}
.logo_studio {
    color: var(--primary-white-color);
}