body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}

.section__title {
  margin-bottom: 30px;

  @include font(700, 28px, 1.18);
  color: var(--title-text-color);
  text-align: center;

  @include desktop {
    @include font(700, 36px, 1.16);
    margin-bottom: 50px;
  }
  
}

.link {
  text-decoration: none;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
