:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --white-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.6);
  --background-soc-icon: #afb1b8;
  --box-shadow--accent: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
}
